<html lang="en">
<head>
<title>Page Title</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: rgb(43, 7, 7);
  color: white;
  font-size: 30px;
}

/* Page Content */
.content {padding:20px;}
</style>
</head>
<body>

<div class="header">
  <h1>Barn Project</h1>
  <p><table>
    <tr>
        <td><a href="{{ site.baseurl }}/">Home</a></td>
        <td><a href="{{ site.baseurl }}/arnav">Arnav's Feature</a></td>
        <td><a href="{{ site.baseurl }}/ben">Ben's Feature</a></td>
        <td><a href="{{ site.baseurl }}/nico">Nico's Feature</a></td>
        <td><a href="{{ site.baseurl }}/luke">Riggi's Feature</a></td>
        <td><a href="{{ site.baseurl }}/manifesto">Team Manifesto</a></td>
        <td><a href="{{ site.baseurl }}/about">About Us</a></td>
    </tr>
</table>
</p>
</div>



</body>
</html>
